
/*Body*/
body{
    font-family: "Segoe UI";
}
/*Body*/

/*==========================================================================
===============================  Header  ===================================
============================================================================*/
header{
    width: 100%;
    height: 54px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Menu Esquerdo*/
.menu-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo{
    width: 137px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-bottom: 5px;

}
.img-logo{
    width: 108px;
    height: 23px;
}
.menu-header-left{
    margin-left: -30px;
    margin-bottom: 5px;
    padding-right: -5px;
}
ul .menu-header-left-itens{
    display: flex;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    
   
}

.menu-header-left-itens li{
    display: inline-block;
    padding:16px 8px 10px;
    margin-right: 3px;
    font-size: 13.2px;

}
/*Menu Esquerdo*/

/*Menu Direito*/
.menu-header-right{
    width: 280px;
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0;
}

.menu-header-right .perfil-svg{
    width: 32px;
    height: 32px;
    font-weight: 100;
}
/*Menu Direito*/
/*==========================================================================
===============================  Header  ===================================
============================================================================*/




/*==========================================================================
=======================  Slide Principal de Imagens  =======================
============================================================================*/
.section-slide-img{
    width: 99.6%;
    height: 83.5vh;
    margin: 0 auto;
    background-image: url(/img/Xbox-Slide.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
}

.div-conteiner{
    width: 412px;
    margin-left: 120px;
    margin-bottom: 20px;
}

.div-conteiner .titulo-pri,.div-conteiner .txt-xbox-s
,.div-conteiner .div-btn{
    width: 100%;
}
.div-conteiner .titulo-pri h2{
    font-weight: 600;
    font-size: 28px;
}
.div-conteiner .txt-xbox-s {
   margin-bottom: 1.5rem;
   margin-top: -10px;
}
.div-conteiner .txt-xbox-s p{
    line-height: 30px;
 }

.div-conteiner .div-btn .btn-compra{
    background-color: #000;
    color: #FFF;
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
}
/*==========================================================================
=======================  Slide Principal de Imagens  =======================
============================================================================*/

/*==========================================================================
=======================  Slide Controler =======================
============================================================================*/
section .slide-controler{
    display: flex;
    height: 15px;
    
    gap: 35px;
    
}
.section-slide-controler{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction:initial;
    align-items: center;
    
}
section .slide-controler .circulo-vazio{
    height: 10px;
    
    
}
section .slide-controler .circulo-preenchido{
    height: 10px;
    
    
}
section .slide-controler .play{
    height: 18px;
   
    
}
    


/*==========================================================================
=======================  Slide Controler =======================
============================================================================*/


/*==========================================================================
=======================  Slide Controler =======================
============================================================================*/
section .slide-controler{
    display: flex;
    height: 15px;
    
    gap: 35px;
    
}
.section-slide-controler{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction:initial;
    align-items: center;
    
}
section .slide-controler .circulo-vazio{
    height: 10px;
    
    
}
section .slide-controler .circulo-preenchido{
    height: 10px;
    
    
}
section .slide-controler .play{
    height: 18px;
   
    
}
    

/*==========================================================================
=======================  3 Icones depois do slide  =======================
============================================================================*/
.tres-icons-svg .icons-svg ul{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 100px;
    

}
.tres-icons-svg .icons-svg ul li{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-decoration: underline;
    
}
.tres-icons-svg .icons-svg ul li .teste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.tres-icons-svg .icons-svg ul li img{
    height: 45px;
    width: 45px;
}

.icons-svg{

}
/*==========================================================================
=======================  3 Icones depois do slide  =======================
============================================================================*/



/*==========================================================================
======================= Menu xbox e bing =======================
============================================================================*/
.div-itens-menu{
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 15px;
    
}
section .item-xbox-series-x{
    height: 400px;
    width: 297px;
  
}
section .item-xbox-series-x h2{
    font-weight: 500;
}
section .item-xbox-series-x a{
    color:#6c0d39;
    font-weight: 500;
}
section .item-xbox-series-x a img {
    width: 8px;
    padding-left: 5px;
   
}
/*==========================================================================
======================= Menu xbox e bing =======================
============================================================================*/


/*==========================================================================
======================= Atualizar Windows 11  =======================
============================================================================*/
.atualizar-windows-11{

}
/*==========================================================================
======================= Atualizar Windows 11  =======================
============================================================================*/

/*==========================================================================
======================= Parte para negócios  =======================
============================================================================*/
.menu-div-xbox-bing{
    display: flex;
    flex-direction: column;
    align-items: center;

}
/*==========================================================================
======================= Parte para negócios  =======================
============================================================================*/

/*==========================================================================
======================= Siga microsoft =======================
============================================================================*/
.siga-microsoft{

}
/*==========================================================================
======================= Siga microsoft =======================
============================================================================*/

/*==========================================================================
======================= Footer =======================
============================================================================*/

/*==========================================================================
======================= Footer =======================
============================================================================*/

/*==========================================================================
=======================  Slide Controler =======================
============================================================================*/


/*==========================================================================
=======================  3 Icones depois do slide  =======================
============================================================================*/
.tres-icons-svg .icons-svg ul{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 100px;
    

}
.tres-icons-svg .icons-svg ul li{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-decoration: underline;
    
}
.tres-icons-svg .icons-svg ul li .teste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.tres-icons-svg .icons-svg ul li img{
    height: 45px;
    width: 45px;
}

.icons-svg{

}
/*==========================================================================
=======================  3 Icones depois do slide  =======================
============================================================================*/



/*==========================================================================
======================= Menu xbox e bing =======================
============================================================================*/
.menu-div-xbox-bing{

}
/*==========================================================================
======================= Menu xbox e bing =======================
============================================================================*/


/*==========================================================================
======================= Atualizar Windows 11  =======================
============================================================================*/
.atualizar-windows-11{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-container{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-container-bg{
    margin: 20px auto;
    width: 90%;
    height: 100%;
    background-image: url(../img/bg-atualizar-windows-11.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card-foreground{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    
}

.card-foreground-body{
    width: 30%;
    height: 30%;
    margin-left: 100px;
    margin-bottom: 100px;
}

.card-foreground-body .title-card{
    color: #FFF;
    font-size: 32px;
    font-weight: 600;
}
.card-foreground-body .text-card{
    color: #FFF;
    font-size: 16px;
    line-height: 22px;
}

.card-foreground-body .btn-card{
    font-size: 16px;
    font-weight: 500;
    border-radius: 2px;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 12px;
   
}
/*==========================================================================
======================= Atualizar Windows 11  =======================
============================================================================*/

/*==========================================================================
======================= Parte para negócios  =======================
============================================================================*/
.area-para-negocios{
    width: 90%;
    display: flex;
    justify-content: flex-start;
}
.para-negocios{
    font-weight: 550;;
}
/*==========================================================================
======================= Parte para negócios  =======================
============================================================================*/

/*==========================================================================
======================= Siga microsoft =======================
============================================================================*/
.siga-microsoft{

}
/*==========================================================================
======================= Siga microsoft =======================
============================================================================*/

/*==========================================================================
======================= Footer =======================
============================================================================*/
.footer{

}
/*==========================================================================
======================= Footer =======================
============================================================================*/



/*==========================================================================
=========================  Formatações Gerais   ============================
============================================================================*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #262626;
}

/*==========================================================================
=========================  Formatações Gerais   ============================
============================================================================*/