body{
    font-family: "Segoe UI";
}


/*==========================================================================
===============================  Header  ===================================
============================================================================*/
header{
    width: 100%;
    height: 54px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Menu Esquerdo*/
.menu-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo{
    width: 137px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-bottom: 5px;

}
.img-logo{
    width: 108px;
    height: 23px;
    margin-right: 50px;
}
.menu-header-left{
    margin-left: -30px;
    margin-bottom: 5px;
    padding-right: -5px;
}
ul li .divisor{
    height: 25px;
    width: 2px;
    display: inline-block;
    background-color: black;
}
ul li .Windows-link{
    font-weight: 600;
    color: #262626;
    font-size: 1.4em;
}
ul.menu-header-left-itens{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    
   
}

ul li a{
    color: #262626;
}

.menu-header-left-itens li{
    display: inline-block;
    padding:16px 8px 10px;
    margin-right: 3px;
    font-size: 13.2px;

}
/*Menu Esquerdo*/

/*Menu Direito*/
.menu-header-right{
    width: 280px;
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0;
}

.menu-header-right .perfil-svg{
    width: 32px;
    height: 32px;
    font-weight: 100;
}


/*Menu Direito*/
/*==========================================================================
===============================  Header  ===================================
============================================================================*/

/*==========================================================================
==========================  Conheça Windows 11  ============================
============================================================================*/

.conheca-windows-11{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100vh;
    gap: 60px;
    
}

.area-img{
    width: 47.2%;
    height: calc(100vh - 44px);
    border-radius: 8px;
    margin-left: 13px;
    margin-top: 64px;
    
}
figure{
    width: 100%;
    height: 100%;
   
}
.img-conteudo{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.area-conheca-windows{
    width: 35%;
    height: 50vh;
    margin-right: 64px;
    align-self: flex-end;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.area-conheca-windows h1{
   font-size: 58px;
   font-weight: 500;

}

.area-conheca-windows p{
    font-size: 15px;
    margin-top: -21px;
    width: 95%;
 }

 .area-btn-link{
    width: 90%;
 }
.area-conheca-windows .btn-link{
    border-radius: 4px;
    background-color: #1c7fca;
    color: #fff;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 40px;
    width: 80%;
}

.area-conheca-windows .btn-link:hover{
    text-decoration: underline;
    background-color: #005da6;
    transition: all 0.5s ;
    
}
/*==========================================================================
==========================  Conheça Windows 11  ============================
============================================================================*/

/*==========================================================================
==========================  Section-principal  ============================
============================================================================*/
.section-principal{
    background: linear-gradient(to bottom, rgb(249,249,249), );
    margin-top: 45px;
    padding: 45px;
}

/*==========================================================================
==========================  Section-principal  ============================
============================================================================*/


/*==========================================================================
==========================  Mais Fácil de Usar Header  ============================
============================================================================*/

.mais-facil-de-usar-header{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}
.header-2{
    display: flex;    
    width: 92%;
    flex-direction: column;
    align-items: start;

}
.linha{
    background-color: rgba(100, 100, 104, 0.321);
    height: 1px;
    width: 100%;
}
header ul{
    color: rgba(100, 100, 104);
    display: flex;
    align-items: center;
    gap: 35px;
    margin-left: -30px;
    font-size: 15px;
    font-weight: 600;
}
.li-mais-facil{
    color: black;

}
.li-mais-facil-div{
    background-color: rgb(0,120,215);
    height: 5px;
    width: 11%;
    margin-bottom: -3px;
    border-radius: 2px 2px 0px 0px;

}
/*==========================================================================
==========================  Mais Fácil de Usar Header  ============================
============================================================================*/
section .mais-facil-de-usar{
    display: flex;
    gap: 75px;
    justify-content: space-evenly;
    margin-left: 85px;

    
}
.mais-facil-de-usar-texto{
    width: 45%;
    
}

.mais-facil-de-usar-conteudo{
    display: flex;
    justify-content: center;
    width: 550px;
    

}
.linha-fade{
    background-color: #1c7fca;
    width: 15px;
    height: 400px;
    margin-right: 25px;
}

.mais-facil-de-usar figure img{
    height: 100%;
    border-radius: 10px;
    width: 100%;

}
.mais-facil-de-usar figure{
    width: 43%;
}
.mais-facil-de-usar-conteudo-divs div h1{
    font-weight: 500;
    font-size: 25px;
}
.mais-facil-de-usar-h1 h1{
    font-size: 45px;
    font-weight: 500;
}

/*==========================================================================
==========================  Mais Fácil de Usar  ============================
============================================================================*/


/*==========================================================================
======================   Mais Fácil de ser produtivo  ======================
============================================================================*/
.mais-facil-de-ser-produtivo{
    display: flex;
    justify-content: space-evenly;  
    flex-direction:row-reverse; 
    margin-right: 85px;
    gap: 75px;
}
.mais-facil-de-ser-produtivo figure img{
    height: 100%;
    border-radius: 10px;
    width: 100%;

}
.mais-facil-de-ser-produtivo figure{
    width: 43%;
}
.mais-facil-de-ser-produtivo-conteudo{
    display: flex;
    justify-content: center;
    width: 550px;
}
/*==========================================================================
======================   Mais Fácil de ser produtivo  ======================
============================================================================*/

/*==========================================================================
======================   Mais Fácil de jogar =============================
============================================================================*/

.mais-facil-de-jogar{


}
/*==========================================================================
======================   Mais Fácil de jogar =============================
============================================================================*/

/*==========================================================================
====================== Comprar pc com Windows 11 ============================
==============================================-==============================*/
.comprar-pc-com-windows-11{
    background-color: #f2f2f2;
    display: flex;
    width: 100%;
    height: 140vh;
    flex-direction: column;
    gap: 100px;

}
.comprar-pc-com-windows-11 .area-text{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.comprar-pc-com-windows-11 .area-text h2{
    font-size: 62px;
    line-height: 72px;
    font-weight: 600;
    margin-bottom: 30px;

}

.comprar-pc-com-windows-11 .area-text p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;


}

.area-container{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    gap: 10px;
}

.area-container .area-container-primary{
    width: 60%;
    height: 100%;
    background-image: url('../img/RW1d1sX.jpg');
    background-position: center center;
    background-size: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.area-container .area-container-primary a{
   color: #fff;
   font-size: 15px;
   line-height: 20px;
   font-weight: 700;
   background-color: #1b86d8;
   padding: 10px 40px;
   border-radius: 6px;
   margin-bottom: 10px;
   margin-left: 10px;
}
.area-container .area-container-secondary{
    width: 30%;
    height: 100%;
    background-image: url('../img/RW1cR0J.jpg');
    background-size: 100%;
    background-position: center center;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.area-container .area-container-secondary a{
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    background-color: #1b86d8;
    padding: 10px 40px;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-left: 10px;
 }

 .area-container .area-container-secondary a:hover,
 .area-container .area-container-primary a:hover{
    text-decoration: underline;
    background-color: #2a73a7;
 }
/*==========================================================================
====================== Comprar pc com Windows 11 ============================
============================================================================*/

/*==========================================================================
=========================== Procurando Mais ============================
============================================================================*/

.procurando-mais{

}

/*==========================================================================
=========================== Procurando Mais ============================
============================================================================*/

/*==========================================================================
=========================== Lista Ordenada ============================
============================================================================*/

.lista-ordenada{
    background-color: rgb(51,51,51);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 45px;

}
.lista-ordenada-div{
    font-weight: 500;
    font-size: 11px;
    color: #fff;
}
.lista-ordenada-div p{
    padding-left: 10px;
}

.lista-ordenada-div ul{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
    margin-left: -30px;
    line-height: 16px;
}
.lista-ordenada-div ul li a{
    color: rgb(9,164,208);
    font-weight: 500;
    text-decoration: underline;
}


/*==========================================================================
=========================== Lista Ordenada ============================
============================================================================*/

/*==========================================================================
======================= Siga microsoft =======================
============================================================================*/
.siga-microsoft{
    display: flex;
    justify-content:space-between;
   
    gap: 25px;
    align-items: center;
}
.siga-microsoft .siga-title{
    font-weight: 400;
    font-size: 15px;
}
.siga-microsoft .social-svg{
    height: 20px;
    
}
.siga-microsoft-div{
    display: flex;
    justify-content: start;
    margin-left: 85px;
    gap: 25px;
    align-items: center;
    color: rgb(152,152,152);
}
.siga-microsoft-div-2{
    display: flex;
    justify-content: start;
    margin-right: 85px;
    gap: 25px;
    align-items: center;
    color: rgb(152,152,152);
}

/*==========================================================================
======================= Siga microsoft =======================
============================================================================*/


/*==========================================================================
======================= Footer =======================
============================================================================*/
.footer{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content:  flex-end;
    align-items: center;
    flex-direction: column;

}
.area-footer{
    height: 332px;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.area-footer-nav{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    height: 100%;
    color: #616161;
    gap: 20px;
    flex-wrap: wrap;
    
}

.area-container-footer-nav-ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 155px;
}

.area-container-footer-nav-ul h5{
    color: #616161;
    font-weight: 550;
    font-size: 15px;
    margin-bottom: 10px;
}

.area-container-footer-nav-ul li a{
    color: #616161;
    font-size: 11px;
    padding: 0;
}

.area-footer-base{
    background-color: #f2f2f2;
    width: 100%;
    height: 72px;
    display: flex;
    font-size: 11px;
    color: #616161;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.area-footer-base span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    font-size:11px;
    margin-left: 20px;
    margin-right: 20px;
}

.area-footer-base .span-op-privacidade{
    width: 250px;
   
}
.area-footer-base span img{

    width: 33px;
    height: 16px;
   
}
.area-footer-base ul{
    background-color: #f2f2f2;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.area-footer-base ul li a{
   color: #616161;
}

/*==========================================================================
======================= Footer =======================
============================================================================*/




/*==========================================================================
============================= Formatação Geral ==============================
============================================================================*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*==========================================================================
============================= Formatação Geral ==============================
============================================================================*/