body{
    font-family: "Segoe UI";
}


/*==========================================================================
===============================  Header  ===================================
============================================================================*/
header{
    width: 100%;
    height: 54px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Menu Esquerdo*/
.menu-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo{
    width: 137px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-bottom: 5px;

}
.img-logo{
    width: 108px;
    height: 23px;
}
.menu-header-left{
    margin-left: -30px;
    margin-bottom: 5px;
    padding-right: -5px;
}
ul li .divisor{
    height: 25px;
    width: 2px;
    display: inline-block;
    background-color: black;
}
ul li .Windows-link{
    font-weight: 600;
    color: #262626;
    font-size: 1.4em;
}
ul.menu-header-left-itens{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    
   
}

ul li a{
    color: #262626;
}

.menu-header-left-itens li{
    display: inline-block;
    padding:16px 8px 10px;
    margin-right: 3px;
    font-size: 13.2px;

}
/*Menu Esquerdo*/

/*Menu Direito*/
.menu-header-right{
    width: 280px;
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0;
}

.menu-header-right .perfil-svg{
    width: 32px;
    height: 32px;
    font-weight: 100;
}


/*Menu Direito*/
/*==========================================================================
===============================  Header  ===================================
============================================================================*/

/*==========================================================================
==========================  Conheça Windows 11  ============================
============================================================================*/

.conheca-windows-11{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100vh;
    gap: 60px;
    
}

.area-img{
    width: 47.2%;
    height: calc(100vh - 44px);
    border-radius: 8px;
    margin-left: 13px;
    margin-top: 64px;
    
}
figure{
    width: 100%;
    height: 100%;
   
}
.img-conteudo{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.area-conheca-windows{
    width: 35%;
    height: 50vh;
    margin-right: 64px;
    align-self: flex-end;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.area-conheca-windows h1{
   font-size: 58px;
   font-weight: 500;

}

.area-conheca-windows p{
    font-size: 15px;
    margin-top: -20px;
    width: 95%;
 }

 .area-btn-link{
    width: 90%;
 }
.area-conheca-windows .btn-link{
    border-radius: 4px;
    background-color: #1c7fca;
    color: #fff;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 40px;
    width: 80%;
}

.area-conheca-windows .btn-link:hover{
    text-decoration: underline;
    background-color: #005da6;
    transition: all 0.5s ;
    
}
/*==========================================================================
==========================  Conheça Windows 11  ============================
============================================================================*/

/*==========================================================================
==========================  Mais Fácil de Usar  ============================
============================================================================*/

.mais-facil-de-usar{
    
}
/*==========================================================================
==========================  Mais Fácil de Usar  ============================
============================================================================*/

/*==========================================================================
======================   Mais Fácil de ser produtivo  ======================
============================================================================*/
.mais-facil-de-ser-produtivo{

}
/*==========================================================================
======================   Mais Fácil de ser produtivo  ======================
============================================================================*/

/*==========================================================================
======================   Mais Fácil de jogar =============================
============================================================================*/

.mais-facil-de-jogar{

}

/*==========================================================================
======================   Mais Fácil de jogar =============================
============================================================================*/

/*==========================================================================
====================== Comprar pc com Windows 11 ============================
============================================================================*/
.comprar-pc-com-windows-11{

}

/*==========================================================================
====================== Comprar pc com Windows 11 ============================
============================================================================*/

/*==========================================================================
=========================== Procurando Mais ============================
============================================================================*/

.procurando-mais{

}

/*==========================================================================
=========================== Procurando Mais ============================
============================================================================*/


/*==========================================================================
============================= Formatação Geral ==============================
============================================================================*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*==========================================================================
============================= Formatação Geral ==============================
============================================================================*/